/* Général */
body {
    margin-top: 90px;
    background-color: #FFFFFF;
}

/* HEADER */

header {
    position: fixed;
    /*margin-top: 45px;*/
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 14px 10px #00000008;
    z-index: 1000;
}

.header-logo img {max-width: 300px;}

.logo-container img {
    padding-left: 21px;
    padding-top: 35px;
    width: 212px;
}

.header-menu {
    display: flex;
    align-items: center;
    padding: 0;
}

.header-menu li a, .footer-menu li a, #open-modal-button-header, .close {
    text-decoration: none;
    color: #000;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.7px;
    letter-spacing: 0.1em;
    text-align: left;
}

.header-menu ul, .footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-menu li, .footer-menu li {margin-right: 20px;}

#open-modal-button-header, #open-modal-button-footer {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.close:hover, .close-button:hover {text-decoration: underline;}

/* FOOTER */

.footer-menu {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000;
    padding-top: 10px;
}

footer {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
    text-transform: uppercase;
    gap: 86px;
    align-items: center;
    border-top: 1px solid black;
  }

footer a {
    text-decoration: none;
    color: black;
    transition: font-weight 0.3s ease;
  }

footer a:visited {color: black;}

footer a:hover {font-weight: bold;}

footer p {margin: 0;}
  
/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.822);
    overflow: auto;
}

/* Styles - CONTENU DE LA MODALE */
.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 80%;
    height: auto;
    background-color: #fff;
    padding: 20px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s;
    animation-timing-function: ease;
}

/* Styles - Image dans la Modale - Bannière */
.modal-content img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Styles - Styles de Boutons de Fermeture */
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styles - MOBILE - MODALE */
@media (max-width: 768px) {
    .modal-content {
        max-width: 95%;
        overflow-y: auto; /* Vertical scrolling */
        max-height: 67vh; /* Contenu visible */
    }
}

/* Styles - Contact Form 7 */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

/* Styles - Styles des Entrées du Contact Form 7 */
input[type=email], input[type=text], select, textarea {
    border: none;
    border-radius: 7px;
}

/* Styles - Styles du Bouton Soumettre du Contact Form 7 */
input[type=submit] {
    display: block;
    width: 263px;
    height: 50px;
    padding: 8px 15px;
    border-radius: 2px;
    margin: 0 auto;
    transition: .3s ease-in-out;
    cursor: pointer;
    font-family: Space Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.77px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    background-color: #D8D8D8;
    color: #000000;
}

/* Styles - Styles de Survole du Bouton Soumettre du Contact Form 7 */
input[type=submit]:hover {background-color: #cccaca;}

/* Styles - Messages d'Erreur du Contact Form 7 */
.wpcf7-not-valid-tip {color: #B8BBC2;}

/* Styles - Styles de Sortie de Réponse du Contact Form 7 */
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output, .wpcf7 form .wpcf7-response-output {
    color: #65676d;
    font-family: Poppins;
    font-size: 14px;
    background-color: transparent;
    border: none;
}

/* Styles - Étiquettes pour le Contact Form 7 */
.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea {
    width: 263px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    padding: 5px 10px;
}

/* Styles - Styles d'Étiquettes pour le Contact Form 7 */
.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea, .wpcf7 label {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

/* Styles - Style d'Étiquette de Message pour le Contact Form 7 */
.wpcf7 textarea[name="your-message"] {height: 190px;}

